#service {
    margin-top: 130px;

    .sous-titre {
        font-family: $font-service;
        text-transform: $maj;
        padding-left: 195px;
    }

    h2 {
        padding: $padding-title 0 35px 195px;
    }

    article {
        display: block;

        .back {
            margin-top: 120px;
        }

        div {
            display: flex;
            margin: 45px 0 90px;
            justify-content: $around;
            flex-wrap: wrap;

            div {
                display: block;
                position: $rel;
                padding: 20px 30px 25px;
                margin: 10px;
                background-color: $colorW;
                box-shadow: 0 10px 20px 0 rgba(126, 118, 249, 0.1);
                border-radius: $border-card;
                height: 410px;

                img {
                    position: $rel;
                    display: block;
                    margin: $auto;
                    width: 90px;
                }

                h3 {
                    padding: 40px 0;
                    font-size: 18px;
                    color: $color-title;
                    text-transform: $maj;
                    font-family: $font;
                    font-weight: $sB;
                }

                p {
                    font-family: $font-service;
                    font-weight: $norm;
                    width: 310px;
                    line-height: 1.5;
                    font-size: 15px;
                }
            }
        }
    }
}

@media screen and (max-width: $moyen) {
    #service {

        .sous-titre,
        h2 {
            text-align: $milieu;
            padding-left: 0;
        }

        article {

            div {
                margin: 0;

                div {
                    margin: 10px;
                }
            }
        }
    }
}

@media screen and(max-width: $petit) {
    #service {

        article {

            div {
                margin: 0;

                div {
                    width: 80%;
                    height: 485px;

                    h3 {
                        text-align: $milieu;
                    }

                    p {
                        width: 100%;
                        text-align: $milieu;
                    }
                }
            }
        }
    }
}